/* ================================== */
/*              ELEMENTS              */
/* ================================== */

/* -------------- TAGS -------------- */

.tags {
    float: right;

    &__item {
        display: inline-block;
        @include padding(5px, 10px, 5px, 10px);
        @include margin(2px, 2px, 2px, 2px);
        border-radius: 50px;
        @include font(12px, null, $fourth-color);
        background-color: $second-color;
    }
}