/* ================================== */
/*              ELEMENTS              */
/* ================================== */

/* -------------- TAGS -------------- */

.tags {
    float: right;

    &__item {
        display: inline-block;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 50px;
        @include font(12px, null, $fourth-color);
        background-color: $second-color;
    }
}