/* ================================== */
/*       MATERIAL ICONS SETTINGS      */
/* ================================== */

.material-icons {
    margin-right: 16px;
}

/* ================================== */
/*           HELPER CLASSES           */
/* ================================== */

.bolder {
    font-weight: 700;
}

.hidden {
    display: none;
}