/* ================================== */
/*          GENERAL SETTINGS          */
/* ================================== */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {

    color: var(--first-color);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--fifth-color);
    background-image: linear-gradient(135deg,
            var(--fifth-color),
            var(--sixth-color),
            var(--fifth-color),
            var(--sixth-color));
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ol li {
    display: block;
    list-style: none;
}