/* ================================== */
/*            SETTINGS PAGE           */
/* ================================== */

/* ------------- SIDEBAR ------------- */

.author {
    grid-area: sidebar;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 100px;


    &__picture-box {
        padding: 10px 20px;
    }

    &__picture {
        @include dimention(100%, auto);
        border: solid 5px $first-color;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
    }

    &__header {
        margin-top: -45px;
        padding-left: 20px;
        font-size: 30px;
        font-weight: 100;
        color: $third-color;
    }

    &__header-intro {
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 100;
    }

    &__description {
        padding-left: 20px;
        font-size: 14px;
        font-weight: 300;
    }
}

/* ------------- CONTENT ------------- */

.content {
    grid-area: content;
}

.diary-day {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 100px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
    background-color: $fifth-color;

    &__header {
        width: 100%;
        margin-top: -45px;
        font-size: 30px;
        color: $third-color;
    }
}

.diary-tasks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    padding: 0 20px 20px 20px;

    &__more {
        width: 10%;
        cursor: pointer;
    }

    &__more .material-icons {
        float: right;
        margin-right: -10px;
        font-size: 30px;
        color: $second-color;
    }

    &__header {
        width: 90%;
        font-size: 30px;
        font-weight: 100;
        margin: 0;
    }

    &__footer {
        font-size: 12px;
    }

    &__picture-box {
        @include dimention(100%, 100px);
        margin: 10px 0;
        overflow: hidden;
        background-color: $fourth-color;
    }

    &__picture-box--picture-one {
        background-image: linear-gradient(135deg,
                rgba(203, 96, 179, 0.2),
                rgba(173, 18, 131, 0.47),
                rgba(143, 39, 99, 0.6)),
            url("../assets/img/programowanie.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: repeat-y;
    }

    &__picture-box--picture-two {
        background-image: linear-gradient(135deg,
                rgba(203, 96, 179, 0.2),
                rgba(173, 18, 131, 0.47),
                rgba(143, 39, 99, 0.6)),
            url("../assets/img/nauka.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: repeat-y;
    }

    &__picture-box--picture-three {
        background-image: linear-gradient(135deg,
                rgba(203, 96, 179, 0.2),
                rgba(173, 18, 131, 0.47),
                rgba(143, 39, 99, 0.6)),
            url("../assets/img/wedkarstwo.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: repeat-y;
    }

    &__content {
        min-height: 100px;
        line-height: 18px;
        font-size: 14px;
        font-weight: 300;
    }

    &__content .material-icons {
        font-size: 14px;
    }

    &__hr {
        @include dimention(100%, 2px);
        margin: 10px 0;
        border-top: 1px solid $seventh-color;
    }

    &__tags {
        width: 100%;
        margin: 30px 0 0 0;
    }
}