/* ================================== */
/*               FOOTER               */
/* ================================== */

.footer {
    grid-area: footer;
    padding-top: 180px;
    text-align: center;
    @include font(12px, null, $third-color);
    background-image: url("../assets/img/footer.svg");
    background-size: cover;
    background-position: center center;

    &__link:link,
    &__link:visited,
    &__link:active,
    &__link:focus {
        color: currentColor;
        text-decoration: none;
    }

    &__link:hover {
        text-decoration: underline;
    }
}