/* ================================== */
/*         MAIN GRID SETTINGS         */
/* ================================== */

/* ----------- DESKTOP LARGE---------- */

@include device(big-desktop) {
    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: [start header] 80px [sidebar] auto [content] auto [footer end];
        grid-template-areas:
            "header header header header"
            "sidebar content content content"
            "footer footer footer footer";
    }
}

/* ------------- DESKTOP ------------- */

@include device(desktop) {
    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: [start header] 80px [sidebar] auto [content] auto [footer end];
        grid-template-areas:
            "header header header header"
            "sidebar sidebar sidebar sidebar"
            "content content content content"
            "footer footer footer footer";
    }

    .author {
        flex-flow: row nowrap;

        &__header-intro {
            margin-top: 0;
        }

        &__profile {
            width: 50%;
        }

        &__box-description {
            width: 50%;
        }
    }

    .diary-day {
        margin-left: 20px;
    }

    .diary-tasks {
        &__header {
            font-size: 1.5rem;
        }
    }
}

/* ------------- TABLET ------------- */

@include device(tablet) {
    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: [start header] 80px [sidebar] auto [content] auto [footer end];
        grid-template-areas:
            "header header header header"
            "sidebar sidebar sidebar sidebar"
            "content content content content"
            "footer footer footer footer";
    }

    .nav__item {
        font-size: 3.438rem;
    }

    .header__logo {
        font-size: 1.75rem;
    }

    .header__heading {
        font-size: 1.75rem;
    }

    .author {
        flex-flow: row wrap;
    }

    .author__profile {
        width: 50%;
    }

    .author__box-description {
        width: 50%;
    }

    .diary-tasks {
        width: 100%;
    }

    .diary-day {
        margin-left: 20px;
    }

    .diary-tasks__header {
        font-size: 2.25rem;
    }

    .diary-tasks__picture-box {
        height: 200px;
    }
}

/* ------------- PHONE -------------- */

@include device(phone) {
    .wrapper {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: [start header] 80px [sidebar] auto [content] auto [footer end];
        grid-template-areas:
            "header header header header"
            "sidebar sidebar sidebar sidebar"
            "content content content content"
            "footer footer footer footer";
    }

    .nav__item {
        font-size: 2.813rem;
    }

    .header__logo {
        font-size: 1.5rem;
    }

    .header__heading {
        display: none;
    }

    .author {
        flex-flow: row wrap;
    }

    .author__profile {
        width: 100%;
    }

    .author__box-description {
        width: 100%;
    }

    .diary-tasks {
        width: 100%;
    }

    .diary-tasks__header {
        font-size: 1.75rem;
    }

    .diary-week {
        margin-left: 20px;

        &__header {
            margin-top: -65px;
            font-size: 1.7rem;
            text-align: center;
        }
    }
}