/* ================================== */
/*             MAIN HEADER            */
/* ================================== */

.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
    @include font(null, 600, $fourth-color);
    background-color: $second-color;

    &__logo {
        align-self: center;
        font-size: 36px;
    }

    &__heading {
        align-self: center;
        font-size: 36px;
        text-transform: uppercase;
    }

    &__nav {
        align-self: center;
    }

    &__list {
        @include font(15px, 400, null);
        font-size: 15px;
        font-weight: 400;
    }

    &__item {
        @include dimention(null, 30px);
        margin: 0 3px;
        border-radius: 50px;
        line-height: 30px;
        white-space: nowrap;
        color: $second-color;
        background-color: $fourth-color;
        cursor: pointer;
    }

    &__nav-open-icon {
        @include position(fixed, 10px, 20px, null, null, 100);
        @include dimention(60px, 60px);
        color: $fourth-color;
        background-color: $second-color;
        cursor: pointer;
    }

    &__nav-open-icon .material-icons--big {
        @include position(absolute, 50%, null, null, 50%, null);
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
}