/* ================================== */
/*             NAVIGATION             */
/* ================================== */

.nav {
    @include position(fixed, null, null, null, null, 1);
    @include dimention-vh(100%, 100vh);
    background-color: rgba(169, 11, 85, 0.85);

    &__list {
        @include flex(flex, center, center, column, null);
        @include dimention-vh(100%, 100vh);
        padding: 0;
    }

    &__item {
        display: block;
        box-sizing: border-box;
        @include dimention(50%, null);
        @include padding(16px, 16px, 16px, 16px);
        @include font(60px, 100, null);
        text-align: center;
    }

    &__link::before {
        content: "";
        @include position(absolute, 50%, null, null, 50%, null);
        @include dimention(0, null);
        transform: translate(-50%, -50%);
        background-color: $fourth-color;
    }

    &__link:hover::before {
        content: "";
        @include position(absolute, 50%, null, null, 50%, null);
        @include dimention(100%, 1px);
        transform: translate(-50%, -50%);
        @include transition(width, .3s, ease-in-out);
        background-color: $fourth-color;
    }

    &__link {
        position: relative;
        display: inline-block;
        @include dimention(100%, 100%);
        color: $fourth-color;
        text-decoration: none;
    }
}